<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST APP</a>
    </header>
    <div class="container">
      <div class="container-header">
      </div>
      <div class="item-form-wrapper">
        <form action="/update/<%= post.id %>" method="post">
          <input type="text" name="title" value="<%= post.title %>">
          <input type="text" name="text" value="<%= post.text %>">
          <input type="text" name="area" value="<%= post.area %>">
          <input type="submit" value="更新する">
        </form>
      </div>
    </div>
  </body>
</html>